<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
		<meta name="description" content="">
		<meta name="author" content="">
		<title>论坛</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/home.css">
		<link rel="stylesheet" type="text/css" href="/css/myInfo.css">
	</head>

	<body>
		<% include head.ejs%>

		<div class="jumbotron">
			<div class="container">
				<h2><span class="glyphicon glyphicon-education"><b><%=user%></b>的个人中心</h2>
				<div class="media">
					<div class="media-left">
						<a href="javascript:;">
							<img class="media-object showAllCard" src="/userPic/<%=userPic%>" alt="...">
						</a>
					</div>
					<div class="media-body">
						<div class="media-heading">
							<h4 class="media-rigth"><span class="glyphicon glyphicon-pencil"></span>&nbsp;<b>个性签名：<%if(!signatureText || signatureText == ''){%>这个人很懒，什么都没留下!<%}else{%><%=signatureText%><%}%></b>&nbsp;</h4>
						</div>
					</div>
				</div>
			</div>
		</div>

		<nav class="navbar navbar-default">
			<div class="container">
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav myInfo-nav">
						<li id="myCard">
							<a href="javascript:;" ><%=user%>的帖子</a>
						</li>
						<li id="record">
							<a href="javascript:;" >个人档</a>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	

		<!-- 我的帖子 -->
		<div class="container" id="cardContent">
			<div class="row">
				<div id="appendCard">
					
				</div>
			</div>
		</div>
		<!-- 我的帖子 -->

<!-- 我的帖子模板 -->
<script type="text/template" id="moban">
	<div class="media">
		<div class="media-left">
			<a href="#">
				<img class="media-object showAllCard" src="/userPic/{{=userPic}}" alt="...">
			</a>
		</div>
		<div class="media-body">
			<div class="media-heading">
				<h4 class="media-left" style="">{{=title}}</h4>
			</div>
			<div id="media-content">
				<p id="content" class="pull-left">{{=content}}</p><br>
				<img id="postCard" src="/cardPic/{{=myPostCardPic}}">
			</div>
		</div>
	</div>
</script>
<!-- /我的帖子模板 -->

<!-- 个人档模板 -->
<script type="text/template" id="moban2">
	<dl class="dl-horizontal">
	  <dt>性别：</dt>
	  <dd>{{=sex}}</dd>
	  <dt>年龄：</dt>
	  <dd>{{=age}}</dd>
	  <dt>生日：</dt>
	  <dd>{{=birthday}}</dd>
	  <dt>星座：</dt>
	  <dd>{{=constellation}}</dd>
	  <dt>职业：</dt>
	  <dd>{{=job}}</dd>
	  <dt>公司名称：</dt>
	  <dd>{{=company}}</dd>
	</dl>
</script>
<!-- /个人档模板 -->

<!-- 个人档模板2 -->
<script type="text/template" id="moban3">
	<dl class="dl-horizontal">
	  <dt>性别：</dt>
	  <dd>请完善个人信息...</dd>
	  <dt>年龄：</dt>
	  <dd>请完善个人信息...</dd>
	  <dt>生日：</dt>
	  <dd>请完善个人信息...</dd>
	  <dt>星座：</dt>
	  <dd>请完善个人信息...</dd>
	  <dt>职业：</dt>
	  <dd>请完善个人信息...</dd>
	  <dt>公司名称：</dt>
	  <dd>请完善个人信息...</dd>
	</dl>
</script>
<!-- /个人档模板2 -->


<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/underscore-noflect.js"></script>
<script type="text/javascript">
	var compiled = _.template($("#moban").html());
	var compiled2 = _.template($("#moban2").html());
	var compiled3 = _.template($("#moban3").html());
	$(".myInfo-nav li:first").addClass('active');
	myCard();
	$("#myCard").on("click", function(){
		$(this).addClass("active").siblings().removeClass();
		myCard();
	});
	function myCard(){
		$("#appendCard").html("");
		$.get("/myInfo/myCard?userName=<%=user%>", function(result){
			if(result.length != 0){
				for(var i=0; i<result.length; i++){
	    			var htmlstring = compiled(result[i]);
		            $("#appendCard").append($(htmlstring));
	    		}
			}else{
				$("#appendCard").html("<h3>这个人很懒，什么都没留下!</h3>");
			}
		});
	}

	$("#record").on("click",function(){
		$(this).addClass("active").siblings().removeClass();
		$("#appendCard").html("<div id='basics'><h3 class='pull-left' >基本资料</h3></div>");
		$.get("/myInfo/record?userName=<%=user%>", function(result){
			if(result[0].sex || result[0].sex == ""){
				for(var i=0; i<result.length; i++){
	    			var htmlstring2 = compiled2(result[i]);
		            $("#appendCard").append($(htmlstring2));
	    		}
			}else{
				var htmlstring3 = compiled3(result);
		        $("#appendCard").append($(htmlstring3));
			}
		});
	});
</script>

</body>

</html>